body {
  margin: 0;
  scroll-behavior: smooth;
  
}

.login_ {
  /*background: linear-gradient(0deg, #2a4e82 0% , 25%, #36144c  100%);*/
    /*background: linear-gradient(0deg, #5050ca 0% , 25%, #3b0c5a  100%);*/
    /*background: linear-gradient(0deg, #e99e85 0% , 25%, #7d0c0c  100%); roja*/
      background: linear-gradient(5deg, #083248 0% , 25%, #007c59  100%);



    /*background: linear-gradient(0deg, #619ff6 0% , 25%, #3b0360  100%);*/
  /*border: 10px, solid black;*/
  height: 700px;
  font-weight: 700px;
  


}

.clase2 {
  background: linear-gradient(0deg,  #36144c 0% , 25%,  #2a4e82  100%);
  /*border: 10px, solid black;*/
  height: 700px;
  font-weight: 700px;
}

#root {

  max-height: 85%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  /*color: var(--text-h);*/
  color:black;
}

h1 {
  font-size: 50px;
  /*letter-spacing: -1.68px;*/
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

h3 {

  font-size: 20px;
  text-align: left;

}


code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

